body {
  font-family: "Comic Sans MS", "Arial", sans-serif;
  background-color: #f0e4f7;
  color: #333;
  text-align: center;
}

h1 {
  color: #ff69b4;
}

button {
  background-color: #ff69b4;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ff8fd4;
}

.timer,
.question-info {
  font-size: 20px;
  margin: 10px 0;
}

.answer-input {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.question {
  margin: 0px 0;
  font-size: 144px;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.resetButton {
  margin-right: 20px;
  margin-top: 20px;
}

/* App.css */
.selectedButton {
  border: 2px solid #4CAF50; /* Grön ram */
  background-color: #A5D6A7; /* Ljusgrön bakgrund */
}


@media (max-width: 768px) {
  body {
    font-size: 16px; /* Större basfontstorlek för bättre läsbarhet */
  }

  .question {
    font-size: 80px; /* Gör frågan större och mer framträdande */
    color: #4a2a8f; /* Välj en färg som står ut, men fortfarande är lätt att läsa */
  }

  button {
    font-size: 18px; /* Större text på knapparna för enklare interaktion */
    padding: 15px 25px; /* Större knappar för att underlätta klick */
  }

  h1 {
    margin-top: 20px; /* Ge lite mer utrymme överst */
  }

}
